* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header, footer {
    background-color: #6DC5D1;
}

header {
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 20px 250px 75px;
    color: white;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: darkcyan;
}

legend {
    font-size: 18px;
    width: 170px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 85px 300px;
    color: darkcyan;
}

.customer {
    font-size: 22px;
    font-weight: 700;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.intro-btn {
    background-color: #DD761C;
    border: none;
    color: white;
    width: auto;
    height: 35px;
    padding: 0px 15px;
    border-radius: 7px;
    font-weight: 900;
}

.intro-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: baseline;
    width: 500px;
    gap: 15px;
}

.intro-text p {
    font-size: 18px;
}

.intro-img {
    width: 600px;
    height: 200px;
    flex-grow: 0;
}

.links {
    display: flex;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.products {
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;  
}

.product-img {
    width: 160px;
    height: auto;
    border: 5px solid #DD761C;
    border-radius: 7px;
}

.quote {
    font-size: 32px;
    font-style: italic;
}

.reviews {
    background-color: #FDE49E;
    padding: 160px 400px;
}

