* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header, footer {
    background-color: #6DC5D1;
}

footer{
    text-align: center;
    padding: 30px 0;
    color: white;
    font-weight: 500;
}

header {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px 400px 120px;
    color: white;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: darkcyan;
}

legend {
    font-size: 18px;
    width: 190px;
}

#logo, h4 {
    font-size: 24px;
    font-weight: bold;
}

.contact {
padding: 85px 450px;
display: flex;
justify-content: center;
align-items: center;
}

.contact-form {
    background-color: #DD761C;
    border-radius: 12px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 150px;
}

.contact-info {
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.contact button {
    background-color: #DD761C;
    border: 2px solid white;
    border-radius: 7px;
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: 900;
    color: white;
    width: auto;
    height: fit-content;
    padding: 10px 20px;
    align-self: center;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 85px 300px;
    color: darkcyan;
}

.customer {
    font-size: 22px;
    font-weight: 700;
    align-self: flex-end;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.intro-btn {
    background-color: #DD761C;
    border: none;
    color: white;
    width: auto;
    height: 35px;
    padding: 0px 15px;
    border-radius: 7px;
    font-weight: 900;
}

.intro-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: baseline;
    width: 500px;
    gap: 15px;
}

.intro-text p {
    font-size: 18px;
}

.intro-img {
    width: 600px;
    height: 260px;
    flex-grow: 0;
    border: 2px solid white;
}

.links {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.navbar {
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;  
}

.product-img {
    width: 180px;
    height: auto;
    border: 5px solid #DD761C;
    border-radius: 7px;
}

.quote {
    font-size: 32px;
    font-style: italic;
}

.reviews {
    background-color: #FDE49E;
    padding: 100px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

